<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PG workshop - get users from the database</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./views/style.css">
</head>

<body>
  <div class="add-container">
    <button id="add-recipe" class="add-recipe" type="button" name="button">Add Your Recipe</button>
  </div>
  <div id="overlay">
    <form id="add-form" class="add-form" action="/add" method="post">
      <select name="origin">
        <option value="Asian">Asian</option>
        <option value="Italian">Arabic</option>
      </select>
      <input type="text" name="name" value="" placeholder="name" required>
      <textarea rows="5" cols="50" name="ingredients" placeholder="put ingredients" required></textarea>
      <textarea rows="5" cols="50" name="directions" placeholder="Please add directions kindly" required></textarea>

      <button type="submit" name="button">+ Add Your Recipe</button>
      <button id="cancel">Cancel</button>
    </form>
  </div>
  <div id="button-container">
  </div>
  <div id='recipe-container'>
  </div>
  <script type="text/javascript" src="./views/index.js"></script>
</body>

</html>
